@use 'variables' as variables;
@use "animations";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variables.$font-base;
  color: variables.$color-dark;
  line-height: 1.6;
  background-color: variables.$color-light;
}

a {
  color: variables.$color-primary;
  text-decoration: none;
  @include animations.transition(color);
  &:hover {
    color: variables.$color-secondary;
  }
}

h1, h2, h3 {
  font-family: variables.$font-heading;
  margin-bottom: 1rem;
  @include animations.transition(color);
}
h1 {
  font-size: 2.5rem;
  color: variables.$color-primary;
  text-align: center;
}
h2 {
  font-size: 2rem;
  color: variables.$color-secondary;
}
h3 {
  font-size: 1.5rem;
  color: variables.$color-dark;
}
p {
  font-size: 1.2rem;
  @include animations.transition(color);
}

img {
  max-width: 100%;
  display: block;
}
footer {
  background-color: variables.$color-dark;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  @include animations.transition(background-color);
}

